@using FlightPlanner.Enum
@using FlightPlanner.Tools
@using FlightPlanner.Constants
@model FlightPlanner.ViewModels.FlightPlannerSimpleViewModel

@{
    var approachTypeOptions = Html.GetEnumSelectList<ApproachTypeEnum>();
}

<div class="row">
    @{
        var icao = new FormFields();
        icao.Value = Model.ICAOArrival;
        icao.Name = nameof(Model.ICAOArrival);
        icao.Caption = "ICAO Aeropuerto de Llegada";
        icao.IsRequired = true;
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.ICAO, icao);
    }
    
    @{
        var airportName = new FormFields();
        airportName.Value = Model.ArrivalAirportName;
        airportName.Name = nameof(Model.ArrivalAirportName);
        airportName.Caption = "Nombre Aeropuerto de Llegada";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.AirportName, airportName);
    }
    
    @{
        var runway = new FormFields();
        runway.Value = Model.ArrivalRunway;
        runway.Name = nameof(Model.ArrivalRunway);
        runway.Caption = "Pista de Llegada";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.Runway, runway);
    }

    @{
        var baroPressure = new FormFields();
        baroPressure.Value = Model.BaroPressureArrival;
        baroPressure.Name = nameof(Model.BaroPressureArrival);
        baroPressure.Caption = "BARO del Aeropuerto de Llegada";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.BaroPressure, baroPressure);
    }
    
    @{
        var transitionAltitude = new FormFields();
        transitionAltitude.Value = Model.TransitionAltitudeArrival;
        transitionAltitude.Name = nameof(Model.TransitionAltitudeArrival);
        transitionAltitude.Caption = "Altitud de Transición de Llegada";
        Html.RenderPartial(PartialRoutes.SHARED_TEMPLATE + DataTypes.TransitionAltitude, transitionAltitude);
    }

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.ArrivalRunwayElevation)" class="form-label">Elevación de Pista</label>
        <input type="number" class="form-control" id="@nameof(Model.ArrivalRunwayElevation)" value="@Model.ArrivalRunwayElevation"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.ArrivalRunwayMinimumAltitude)" class="form-label">Altitud Minima de Aproximación</label>
        <input type="number" class="form-control" id="@nameof(Model.ArrivalRunwayMinimumAltitude)" value="@Model.ArrivalRunwayMinimumAltitude"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.LocalizerFrequency)" class="form-label">Localizador</label>
        <input type="number" class="form-control" id="@nameof(Model.LocalizerFrequency)" value="@Model.LocalizerFrequency"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.LocalizerVectorName)" class="form-label">Vector Final Ruedas de Aterrizaje</label>
        <input type="text" class="form-control" id="@nameof(Model.LocalizerVectorName)" value="@Model.LocalizerVectorName"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.LocalizerVectorAltitude)" class="form-label">Altitud Vector Localizador</label>
        <input type="number" class="form-control" id="@nameof(Model.LocalizerVectorAltitude)" value="@Model.LocalizerVectorAltitude"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.ArrivalRunwayLength)" class="form-label">Largo de Pista de Llegada</label>
        <input type="number" class="form-control" id="@nameof(Model.ArrivalRunwayLength)" value="@Model.ArrivalRunwayLength"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.ApproachType)" class="form-label">Tipo de Aterrizaje</label>
        <select name="@nameof(Model.ApproachType)" class="form-select" id="@nameof(Model.ApproachType)">
            @foreach (var item in approachTypeOptions)
            {
                <option value="@item.Value"
                        selected="@(item.Value == ((int)Model.ApproachType).ToString())">
                    @item.Text
                </option>
            }
        </select>
    </div>
</div>