@model FlightPlanner.ViewModels.FlightPlannerSimpleViewModel

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.ICAODeparture)" class="form-label">ICAO</label>
        <input type="text" class="form-control" style="background-color: lightyellow;" id="@nameof(Model.ICAODeparture)" value="@Model.ICAODeparture"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.DepartureAirportName)" class="form-label">Nombre Aeropuerto</label>
        <input type="text" class="form-control" id="@nameof(Model.DepartureAirportName)" value="@Model.DepartureAirportName"/>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.DepartureRunway)" class="form-label">Pista de Salida</label>
        <input type="number" class="form-control" id="@nameof(Model.DepartureRunway)" value="@Model.DepartureRunway"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.BaroPressureDeparture)" class="form-label">BARO</label>
        <input type="number" class="form-control" id="@nameof(Model.BaroPressureDeparture)" value="@Model.BaroPressureDeparture"/>
    </div>

    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.TransitionAltitudeDeparture)" class="form-label">Altitud de Transición</label>
        <input type="number" class="form-control" id="@nameof(Model.TransitionAltitudeDeparture)" value="@Model.TransitionAltitudeDeparture"/>
    </div>
</div>