@using FlightPlanner.Enum
@model FlightPlanner.ViewModels.FlightPlannerSimpleViewModel

@{
    var aircraftModelOptions = Html.GetEnumSelectList<AircraftModelEnum>();
    var flightTypeOptions = Html.GetEnumSelectList<FlightTypesEnum>();
}

<div class="row">
    @if (Model.ID != Guid.Empty)
    {
        <div class="col-md-3 mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="@nameof(Model.IsCompleted)" @(Model.IsCompleted ? "checked" : "") />
                <label class="form-check-label" for="@nameof(Model.IsCompleted)">Vuelo Completado</label>
            </div>
        </div>
    }
</div>

<hr />

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Date)" class="form-label">Fecha de agenda</label>
        <input type="date" class="form-control" id="@nameof(Model.Date)" value="@Model.Date.ToString(Constants.Global.DATETIME_FORMAT)"/>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.AircraftModel)" class="form-label">Modelo de Avión</label>
        <select class="form-select" style="background-color: lightyellow;" id="@nameof(Model.AircraftModel)" name="@Model.AircraftModel">
            @foreach (var item in aircraftModelOptions)
            {
                <option value="@item.Value"
                        selected="@(item.Value == ((int)Model.AircraftModel).ToString())">
                    @item.Text
                </option>
            }
        </select>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightType)" class="form-label">Tipo de Vuelo</label>
        <select class="form-select" style="background-color: lightyellow;" id="@nameof(Model.FlightType)" name="@Model.FlightType">
            @foreach (var item in flightTypeOptions)
            {
                <option value="@item.Value"
                        selected="@(item.Value == ((int)Model.FlightType).ToString())">
                    @item.Text
                </option>
            }
        </select>
    </div>
</div>
