@using FlightPlanner.Constants
@using FlightPlanner.Enum
@model FlightPlanner.ViewModels.FlightPlannerDetailsViewModel

@{
    var aircraftModelOptions = Html.GetEnumSelectList<AircraftModelEnum>();
    var flightTypeOptions = Html.GetEnumSelectList<FlightTypesEnum>();
}

<div class="row">
    <div class="col-md-3 mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="@nameof(Model.IsCompleted)" @(Model.IsCompleted ? "checked" : "") disabled="disabled" />
            <label class="form-check-label" for="@nameof(Model.IsCompleted)">Vuelo Completado</label>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.Date)" class="form-label">Fecha de agenda</label>
        <input type="text" class="form-control" id="@nameof(Model.Date)" value="@Model.Date.ToString(Global.DATETIME_FORMAT_V2)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FullFlightName)" class="form-label">Vuelo Programado</label>
        <input type="text" class="form-control" id="@nameof(Model.FullFlightName)" value="@Model.FullFlightName" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.AircraftModel)" class="form-label">Modelo de Avión</label>
        <select class="form-select" id="@nameof(Model.AircraftModel)" disabled="disabled" name="@Model.AircraftModel">
            @foreach (var item in aircraftModelOptions)
            {
                <option value="@item.Value"
                        selected="@(item.Value == ((int)Model.AircraftModel).ToString())">
                    @item.Text
                </option>
            }
        </select>
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightType)" class="form-label">Tipo de Vuelo</label>
        <select class="form-select" id="@nameof(Model.FlightType)" disabled="disabled" name="@Model.FlightType">
            @foreach (var item in flightTypeOptions)
            {
                <option value="@item.Value"
                        selected="@(item.Value == ((int)Model.FlightType).ToString())">
                    @item.Text
                </option>
            }
        </select>
    </div>
</div>
