@model FlightPlanner.ViewModels.FlightPlannerDetailsViewModel

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.AltitudeFeet)" class="form-label">Altitud Crucero</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.AltitudeFeet)" value="@Model.FlightSpecs.AltitudeFeet" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.NauticalMiles)" class="form-label">Distancia de Vuelo (NM)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.NauticalMiles)" value="@Model.FlightSpecs?.NauticalMiles" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.CruiseSpeedKnots)" class="form-label">Velocidad Crucero Recomendada</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.CruiseSpeedKnots)" value="@Model.FlightSpecs?.CruiseSpeedKnots" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.FlightEstimatedHourTime)" class="form-label">Tiempo Estimado de Vuelo (Horas)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.FlightEstimatedHourTime)" value="@Model.FlightSpecs?.FlightEstimatedHourTime" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.FlightEstimatedMinutesTime)" class="form-label">Tiempo Estimado de Vuelo (Minutos)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.FlightEstimatedMinutesTime)" value="@Model.FlightSpecs?.FlightEstimatedMinutesTime" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.AverageFuelConsumption)" class="form-label">Consumo Promedio por Horas</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.AverageFuelConsumption)" value="@Model.FlightSpecs?.AverageFuelConsumption" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.BasicFuel)" class="form-label">Combustible Básico</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.BasicFuel)" value="@Model.FlightSpecs?.BasicFuel" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.ReserveFuel)" class="form-label">Combustible de Reserva (45 minutos)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.ReserveFuel)" value="@Model.FlightSpecs?.ReserveFuel" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.ReserveFuelGal)" class="form-label">Combustible de Reserva Galones</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.ReserveFuelGal)" value="@Model.FlightSpecs?.ReserveFuelGal" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.EmergencyFuel)" class="form-label">Combustible de Emergencia (30 minutos)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.EmergencyFuel)" value="@Model.FlightSpecs?.EmergencyFuel" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.EmergencyFuelGal)" class="form-label">Combustible de Emergencia Galones</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.EmergencyFuelGal)" value="@Model.FlightSpecs?.EmergencyFuelGal" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.TotalFuel)" class="form-label">Combustible Total</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.TotalFuel)" value="@Model.FlightSpecs?.TotalFuel" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.TotalFuelGal)" class="form-label">Combustible Total Galones</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.TotalFuelGal)" value="@Model.FlightSpecs?.TotalFuelGal" disabled="disabled" />
    </div>
</div>