@using FlightPlanner.Constants
@using FlightPlanner.Enum
@model FlightPlanner.ViewModels.FlightPlannerDetailsViewModel

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.AltitudeFeet)" class="form-label">Altitud Crucero</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.AltitudeFeet)" value="@Model.FlightSpecs.AltitudeFeet.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.NauticalMiles)" class="form-label">Distancia de Vuelo (NM)</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.NauticalMiles)" value="@Model.FlightSpecs?.NauticalMiles.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.CruiseSpeedKnots)" class="form-label">Velocidad Crucero Recomendada</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.CruiseSpeedKnots)" value="@Model.FlightSpecs?.CruiseSpeedKnots" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.AverageFuelConsumption)" class="form-label">Consumo Promedio por Horas</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.AverageFuelConsumption)" value="@Model.FlightSpecs?.AverageFuelConsumption.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.BasicFuel)" class="form-label">Combustible B치sico</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.BasicFuel)" value="@Model.FlightSpecs?.BasicFuel.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.ReserveFuel)" class="form-label">Combustible de Reserva (45 minutos)</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.ReserveFuel)" value="@Model.FlightSpecs?.ReserveFuel.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.TotalFuel)" class="form-label">Combustible Total</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.TotalFuel)" value="@Model.FlightSpecs?.TotalFuel.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
</div>

<h4>C치lculos de Medidas en Galones</h4>

<br />

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.ReserveFuelGal)" class="form-label">Combustible de Reserva Galones</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.ReserveFuelGal)" value="@Model.FlightSpecs?.ReserveFuelGal.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.TotalFuelGal)" class="form-label">Combustible Total Galones</label>
        <input type="text" class="form-control" id="@nameof(Model.FlightSpecs.TotalFuelGal)" value="@Model.FlightSpecs?.TotalFuelGal.ToString(Global.FP_FORMAT_NUMBER)" disabled="disabled" />
    </div>
</div>

<h4>Tiempo de Vuelo</h4>

<br />

<div class="row">
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.FlightEstimatedHourTime)" class="form-label">Tiempo Estimado de Vuelo (Horas)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.FlightEstimatedHourTime)" value="@Model.FlightSpecs?.FlightEstimatedHourTime" disabled="disabled" />
    </div>
    
    <div class="col-md-3 mb-3">
        <label for="@nameof(Model.FlightSpecs.FlightEstimatedMinutesTime)" class="form-label">Tiempo Estimado de Vuelo (Minutos)</label>
        <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.FlightEstimatedMinutesTime)" value="@Model.FlightSpecs?.FlightEstimatedMinutesTime" disabled="disabled" />
    </div>
</div>

@if (Model.AircraftModel == AircraftModelEnum.DIAMOND_DA40 || 
     Model.AircraftModel == AircraftModelEnum.DIAMOND_DA62 ||
     Model.AircraftModel == AircraftModelEnum.CESSNA_S172_SKYHAWK ||
     Model.AircraftModel == AircraftModelEnum.CESSNA_C400 ||
     Model.AircraftModel == AircraftModelEnum.PIPISTREL_VIRUS)
{
    <h4>Configuraci칩n de Velocidades</h4>

    <br />

    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="@nameof(Model.FlightSpecs.AscentRateFeetPerMinute)" class="form-label">Velocidad de Ascenso</label>
            <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.AscentRateFeetPerMinute)" value="@Model.FlightSpecs?.AscentRateFeetPerMinute" disabled="disabled" />
        </div>
        
        <div class="col-md-3 mb-3">
            <label for="@nameof(Model.FlightSpecs.DescentRateFeetPerMinute)" class="form-label">Velocidad de Descenso</label>
            <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.DescentRateFeetPerMinute)" value="@Model.FlightSpecs?.DescentRateFeetPerMinute" disabled="disabled" />
        </div>
        
        <div class="col-md-3 mb-3">
            <label for="@nameof(Model.FlightSpecs.FinalApproachSpeed)" class="form-label">Velocidad Aproximaci칩n Final</label>
            <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.FinalApproachSpeed)" value="@Model.FlightSpecs?.FinalApproachSpeed" disabled="disabled" />
        </div>
        
        <div class="col-md-3 mb-3">
            <label for="@nameof(Model.FlightSpecs.DescentVerticalSpeed)" class="form-label">Velocidad Vertical</label>
            <input type="number" class="form-control" id="@nameof(Model.FlightSpecs.DescentVerticalSpeed)" value="@Model.FlightSpecs?.DescentVerticalSpeed" disabled="disabled" />
        </div>
    </div>
}