@page
@model Details

@{
    ViewData["Title"] = "Detalle del vuelo";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/js/details-flight.js?v=2" asp-append-version="true"></script>
}

<h1>Detalle del vuelo</h1>

<hr />

@Html.FpListButton()
@Html.FpEditButton(OnClick: $"flight_details.edit('{Model.Record.ID}')")
@Html.FpDeleteButton(OnClick: $"flight_details.remove('{Model.Record.ID}')")

<hr />

<partial name="Partial/_GeneralDetails" model="@Model.Record"/>

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de salida.
</div>

<partial name="Partial/_DepartureDetails" model="@Model.Record"/>

<hr />

<div class="alert alert-primary" role="alert">
    Datos del aeropuerto de llegada.
</div>

<partial name="Partial/_ArrivalDetails" model="@Model.Record"/>

<hr />

<div class="alert alert-primary" role="alert">
    Gestión de vuelo.
</div>

<partial name="Partial/_ManagementDetails" model="@Model.Record"/>

<hr />
